ul.list li{
 display: inline-block;
}
ul, li {
   list-style-type: none;
}
.credits {
  display: none;
}

 ul.list0 {
   display: inline-block;
 }

tr, td {
  width: 35%;

}
table, tr, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
td.cell {
     text-align: center;
}

.icons {
  float: left;
}
