  ul.list li{
   display: inline-block;
  }
  ul, li {
     list-style-type: none;
  }
  .credits {
    display: none;
  }

   ul.list0 {
     display: inline-block;
   }

  tr, td {
    width: 35%;

  }

  td {
    height: 80px;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }


  .icons {
    float: left;
  }
  td.top {
    border-top: 3px solid #02335E;
    height: 20px;

  }

  td.left-margin {
    border-left: 3px solid #02335E;

  }

  td.left-margin.bottom{
    border-bottom: 3px solid #02335E;

  }
  td.right-margin {
    border-right: 3px solid #02335E;

  }


  td.margins {
    border-left: 3px solid #02335E;
    border-right: 3px solid #02335E;
  }

  tr.center {
      background-color: #02335E;

  }

  tr.bottom {
    background-color: #67bdff;
  }

  .casa {
    background-color: white;
  }
  td.center{
        height: 20px;
  }
  img {
    width: 70px;
    height: 70px;
  }

  div.title {
    color: white;
    font-size: 22px;
    font-family: "Verdana", Times, serif;
    padding-top: 7px;
    padding-bottom: 7px;

  }

  .second.results {
    color: #6BBFFF;
    font-size: 15px;
    font-family: "Verdana", Times, serif;
    font-weight: bold;

  }


  .first.results {
    color:  #02335E;
    font-size: 22px;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
  }


  .top-description{
    color: black;
    font-size: 15px;
    font-weight: normal;
  }

  .top.title {
    color: black;
    font-size: 22px;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
  }


  .mid-description {
      font-size: 15px;
      color: white;
      font-weight: normal;
  }
  img.numbers{
    width: 35px;
    height: 35px;
  }


  .bottom-title {
    color: #02335E;
    font-size: 22px;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .list.bottom-numbers {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  li.bottom-results {
    font-size: 18px;
    color: white;
    font-weight: normal;
    font-family: "Verdana", Times, serif;

  }


  td.left-margin.bottom{
    border-bottom: 3px solid #02335E;

  }

  .bottom-margin {
    border-bottom: 3px solid #02335E;
  }
