ul.list li{
 display: inline-block;
}
ul.list {
  margin-top: 0px;
  padding-left: 20px;
    margin-bottom: 5px;
}
ul, li {
   list-style-type: none;
}
.credits {
  display: none;
}

 ul.list0 {
   display: inline-block;
 }

tr, td {
  width: 35%;

}
body{
    margin:0;

}


table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}


.icons {
  float: right;
}
td.top {
  border-top: 3px solid #1a1a1a;
  height: 20px;

}

td.left-margin {
  border-left: 3px solid #1a1a1a;

}

td.left-margin.bottom{
  border-bottom: 3px solid #1a1a1a;

}
td.right-margin {
  border-right: 3px solid #1a1a1a;

}


td.margins {
  border-left: 3px solid #1a1a1a;
  border-right: 3px solid #1a1a1a;
}

tr.center {
    background-color: #1a1a1a;

}

tr.bottom {
  background-color: #cccccc;
}

.casa {
  background-color: white;
}
td.center{
      height: 20px;
}
img {
  width: 70px;
  height: 70px;
}

div.title {
  font-weight: 600;
  color: #da8500;
  font-size: 20px;
  font-family: "Verdana", Times, serif;
  padding-top: 7px;
  padding-bottom: 7px;

}

.second.results {
  color: #cccccc;
  font-size: 25px;
  font-family: "Verdana", Times, serif;
  font-weight: bold;

}


.first.results {
  color:  #1a1a1a;
  font-size: 25px;
  font-family: "Verdana", Times, serif;
  font-weight: bold;
}


.top-description{
  color: #1a1a1a;
  font-size: 15px;
  font-weight: normal;
  padding-left: 10px;
}

.top.title {
  padding-left: 15px;
  color: #1a1a1a;
  font-size: 22px;
  font-family: "Verdana", Times, serif;
  font-weight: bold;
  /*float: left;*/
}


.mid-description {
    font-size: 15px;
    color: white;
    font-weight: normal;
    margin-left: 10px;
}
img.numbers{
  width: 45px;
  height: 35px;
}


.bottom-title {
  color: #1a1a1a;
  font-size: 22px;
  font-family: "Verdana", Times, serif;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}

.list.bottom-numbers {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 45px;

}

li.bottom-results {
  font-size: 20px;
  color: black;
  font-weight: 500;
  font-family: "Verdana", Times, serif;

}


td.left-margin.bottom{
  border-bottom: 3px solid #1a1a1a;

}

.bottom-margin {
  border-bottom: 3px solid #1a1a1a;
}

ul li p.bt {

  margin-left: 20px;
  float: right;
  margin-bottom: 7px;

}
ul li p.md {

  margin-left: 10px;
  margin-bottom: 10px;

}

.comm{

  margin-left: 15px;
  margin-right: 10px;

}
.rng{
  font-weight: 500;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background: #ffb719;
  background-image: -webkit-linear-gradient(top, #ffb719, #c87100);
  background-image: -moz-linear-gradient(top, #ffb719, #c87100);
  background-image: -ms-linear-gradient(top, #ffb719, #c87100);
  background-image: -o-linear-gradient(top, #ffb719, #c87100);
  background-image: linear-gradient(to bottom, #ffb719, #c87100);
  border: none;
}


p.time-period {
  float: left;
  margin-bottom: 10px;
}
.middle-logo {
  text-align: center;
}

ul.middle-logo li{
  display:inline-block;

}


.touchrate {
  float: right;
  font-size: 20px;
  color: grey;
  font-weight: 700;
  font-family: "Verdana", Times, serif;

}


p.results1 {
  color: #f7901e;
  padding-left: 50px;
  margin-bottom: 10px;
}

p.results2 {
  color: #f7901e;
  margin-bottom: 10px;
  padding-left: 40px;
}

p.results3 {
  color: #f7901e;
  margin-bottom: 0px;
}


ul.ranges li {
  display: inline-block;

}

ul.ranges {
    float: right;
    padding-right: 20px;
}

ul.ranges p {
  margin-bottom: 5px;
  font-family: "Verdana", Times, serif;
  font-size: 12px;
  /*font-weight: 600;*/
}
.navbar {
  height: 50px;
  background-color: #1a1a1a;
  margin-top: -1px;
}
div.mainTable {
   margin: auto;
   width: 1100px;
   margin-bottom: 50px;
}

.tp {
  width: 80px;
  height: 80px;

}


.each do |s| %>
  <%= s["ts"] %>
  <% end %></td>
